/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@font-face {
    font-family: 'kaiti';
    src: url('../fonts/KaiTi.ttf');
}

.chinese-font {
    font-family: 'kaiti', sans-serif;
    /* font-size: 20px; */  /* TODO: fix font baseline */
    vertical-align: top;
}

span.chinese-font, p.chinese-font {
    font-size: 20px;  /* TODO: fix font baseline */
}

h5.chinese-font {
    font-size: 20px;  /* TODO: fix font baseline */
    color: #3d4351
}