// Layout variables partial

$section-padding: 20px 0;

section.invitation, section.other-events, section.eng-pics, section.hotels, section.faq {
	background: $section-light;
}
section.events, section.share-photos, section.map, section.registry, section.rsvp {
	background: $section-dark;
}