// Layout variables partial

$section-margin: 40px 0;

section.invitation, section.share-photos, section.map {
	background: $section-light;
}
section.events, section.eng-pics, section.rsvp {
	background: $section-dark;
}