// Layout variables partial

$section-padding: 20px 0;

section.invitation, section.share-photos, section.faq, section.hotels, section.rsvp {
	background: $section-light;
}
section.events, section.eng-pics, section.map, section.registry {
	background: $section-dark;
}